<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/nav.ejs') %>
   
<body>
  <div class="login">
        <h1 class="login-title">Login</h1>
        <form action="/login" method="POST" class="box">
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <input
                name="email"
                class="input"
                type="email"
                placeholder="Username or Email"
              />
            </div>
          </div>
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <input
                name="password"
                class="input"
                type="password"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="submit-button">Submit</button>
            </div>
          </div>
        </form>
      </div>
    
    <!-- <main class="container is-max-widescreen"></main> -->
  </body>
</html>