<!DOCTYPE html>
<html lang="en">
 
    <%-include('../partials/nav.ejs')%>

  <body class="register-body">
    
    <div class="register">
        <h1 class="registration-title">Sign up</h1>
        
        <form action="/register" method="POST" class="box">
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <input
                name="username"
                class="input"
                type="text"
                placeholder="Username"
              >
            </div>
          </div>
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <input
                name="email"
                class="input"
                type="email"
                placeholder="example@domain.com"
              >
            </div>
          </div>
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <input
                name="password"
                class="input"
                type="password"
                placeholder="Password"
              >
            </div>
          </div>
          <div class="field">
            <small>by continuing, you are setting up a TravelHub account and agree to our User Agreement and Privacy Policy.</small> 
            <div class="control">
              <button class="submit-button">Submit</button>
            </div>
            <a href="/login" >Already have an account?</a> 
          </div>
        </form>
      </div>  
    <!-- </div> -->
    <!-- <main class="container is-max-widescreen"></main> -->
  </body>
</html>