<h1> Hello World</h1>

<!-- comments -->
<div style="margin:100px" class="comments-container">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <!-- for-loop for comments-->
                    <ul>
                        <% for(let i=0; i<Comment.length; i++){ %>
                            <% let singleComment=Comment[i]; %>
                                <li>
                                    <div style="overflow:scroll"class="card-header">t/SummerTravel |<a
                                            href="/travelhub/<%= singlePost._id %>">
                                            <%= singleComment.body %> </a>
                                </li>
                </div>
                <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
