<!DOCTYPE html>
<html lang="en">

<section>
    <div class="container d-flex align-content-start flex-wrap"
        style="width: 500px; background-color: rgba(182, 160, 198, 0.349)" ;>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <!-- comment -->
                        <form action="/travelhub/<%= post.id %>?_method=DELETE" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete Post" />
                        </form>
                        <form action="/travelhub/<%=post.id%>" method="POST">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea class="form-control mh-100" type="text" name="body"
                                id="exampleFormControlTextarea1" rows="3"
                                placeholder="what are your thoughts"></textarea>
                            <button>Submit Comment</button>
                        </form>
                        <!-- delete -->
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- comments -->
    <div style="margin:100px" class="comments-container">
        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    <!-- for-loop for comments-->
                    <ul>
                        <% for(let i=0; i<Comment.length; i++){ %>
                            <% let singleComment=Comment[i]; %>
                                <li>
                                    <div style="overflow:scroll" class="card-header">t/SummerTravel |<%= singleComment.body %>></div>
                                    
                                </li>

                                <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</html>