<!DOCTYPE html>
<html lang="en">
    <!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head> -->


<!-- const comments = {oneComment: newComment} -->

<section>
    <div class="container d-flex align-content-start flex-wrap"
        style="width: 500px; background-color: rgba(182, 160, 198, 0.349)" ;>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <!-- comment -->
                        <!-- <form action="/comment/"?_method="DELETE" method="POST"> -->
                            <!-- <input class="btn btn-danger" type="submit" value="Delete Post" /> -->
                        </form>
                        
                     
                        <form action="/comment/" method="POST">
                            <label for="content"></label>
                            <textarea 
                                class="form-control mh-100" 
                                type="text" 
                                name="content"
                                rows="3"
                                placeholder="what are your thoughts"
                                >
                            </textarea>
                            <button>Submit Comment</button>
                        </form>
                        <!-- delete -->
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- comments -->
    
</section>

</html>