<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head> -->




<section>
    <div class="container d-flex align-content-start flex-wrap"
        style="width: 500px; background-color: rgba(182, 160, 198, 0.349)" ;>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="/comment/<%=postId%> " method="POST">
                        <label for="content"></label>
                        <textarea class="form-control" type="text" name="content" rows="3"
                            placeholder="what are your thoughts">
                            </textarea>
                        <input type="hidden" value="<%=postId%>" name="post">
                        <input type="hidden" value="<%=user.id%>" name="user">
                        <button>Submit Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</html>