<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%-include('partials/nav.ejs')%>


    <body>

        <section>
            <!-- 1 div in the middle of the page that displays posts created -->
            <div style="margin:100px" class="post-container">
                <!-- <div class="row justify-content-center"> -->
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- for-loop for posts-->
                            <ul style="list-style-type: none";>
                                <% for(let i=0; i<post.length; i++){ %>
                                    <% let singlePost=post[i]; %>
                                        <li>
                                            <div style="overflow:hidden" class="card-header">t/SummerTravel |<a
                                                    href="/travelhub/<%= singlePost._id %>">
                                                    <%= singlePost.title %>
                                                </a>
                                                <%= singlePost.body %>
                                            </div>
                                        </li>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>