<!DOCTYPE html>
<html lang="en">

    <!-- head -->

    <%- include( 'partials/nav.ejs' )  %>
    

<body>

    <section>
        <!-- 1 div in the middle of the page that displays posts created -->
        <div class="post-container">
            <!-- <div class="row justify-content-center"> -->
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <!-- for-loop for posts-->
                                <ul>
                                    <% for(let i=0; i<post.length; i++){ %>
                                        <% let singlePost=post[i]; %>
                                            <li>
                                                <div class="card-header">r/SummerTravel |<a
                                                        href="/travelhub/<%= singlePost._id %>">
                                            </li>
                                            <%= singlePost.title %>
                                                </a>
                            </div>

                            <% } %>
                                </ul>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        </div>

    </section>
</body>

</html>