<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include( 'partials/nav.ejs' ) %>



<section>
    <div>
        <h2 class="title">Post: <%=post.title%>
        </h2>

    </div>

    <div>
        <a href="/travelhub/<%=id%>/edit">Edit Post</a>
    </div>