
a {
  color:black;
}


.btn-danger {
  border-style: none;
  border-radius: 9px;
  border: none;
}

body {
  background-color:#e9ecef;
  font-family: 'IBM Plex Sans', sans-serif;
  display:grid;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
  padding-top:10%;

}
/* 
input {
  width : 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border:none;
} */
.input-edit {
  padding-left: 6px;
  height:90%;
  width: 100%;

}
.container-grid {
  height:50%;
}
.page-container{
  width: 100%;
  min-height: 100vh;
  background-color: ghostwhite;
  margin-block: 1% 20%;
  writing-mode: horizontal-tb;
  border: 1px solid black;
  display: grid;
  place-items: center;
}
#post-body{
  height: 100px;
}
.new-post-container {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
  background-color:#e9ecef;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  
}
.edit-post{
max-width: 600px;
}
.comment-user {
  font-weight: bold;
  color: darkblue;
   padding-bottom: 10px;
}


.new-form {
  height:30px; 
  width: 100%; 
  border: 1px solid #ccc;
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.new-comment-posted{
margin-top: 50px;
max-width: 600px;
}
.buttons {
  display: flex;
  
}
.button {
  margin:3px;
}
.new-comments {
max-width: 600px;
}
.comments-posted {
  width:200px;
  height:200px;
  background-color: red;
}

ul {
  list-style: none;
}
.card {
  max-width: 600px;
  margin-bottom: 1%;
  height: 50%;
}
.form {
  height: 100vh;
}
.post-div{
  background-color: azure; 
  border-radius: 25px;
  padding-top:8px;
  margin-top: 20px;
  border: 1px solid silver;
}
.register {
  
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px;
  height: fit-content;
  
}
.login {
  
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px;
  height: fit-content;
 
}
.text-body {
  padding-left:3%;
}

.header {
  display: flex;
  align-content: flex-start;
  justify-content: stretch;
  padding-left:4%;
}
 


.a {
  padding-left: 6%;
}
.title {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  color:black;
  padding-right:8px;
  padding-left: 7px;
}

.link
 {
  text-align: left;
  padding-left: 20px;
  margin-top: -40px
}

img {
  padding: 6% 6% 0% 6%;
  border-radius: 30px;
  margin-bottom: 10px;
  width  : 100%;
  display: inline-block;
}

.submit-button {
    background-color:#0079d3;
    border: none;
    border-radius: 6px;
    margin-top: 17px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    height: 36px;
    padding: 0 32px;
}

.btns {

  width: 20%;
  height: 50%;
  border-radius: 9px;
  background-color: deepskyblue;
  border-color: silver;
  color: white;
  border-style: none;
} 
 

.edit-btn {
  margin-top:5px;
  height: 26%;
  border-style: none;
  border-radius: 9px;
  background-color: deepskyblue;
  border-color: silver;
  color: white;
}

.edit-btn-show {
  color: white;
  height: 26%;
  border-style: none;
  border-radius: 9px;
  background-color: deepskyblue;
  border-color: silver;
  
  
}
