
body {
    /* background-color:black; */
    font-family: 'IBM Plex Sans', sans-serif;
    
    display:grid;
    width: 100%;
  
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
    
}
.container-grid{
  grid-area: 5/5 / 5 / 4;
}
.post-div {
  background-color: antiquewhite;
  border-color: aqua;
  padding-top:8px;
}

.text-body {
  padding-right:8px;
}

.card{
  /* background-color: rgb(26,26,27); */
  color: white;
  
 } 
/* .img-fluid {

    width: 100%;
    height: auto;
} */

  
  
  
/* .title {
  display: flex;
  cursor:pointer;
  justify-content: flex-start;
  font-size: small;
  text-align: center;
  color:aliceblue;
} */

  
/* 
  .card-body{
    display:block;
    background:linear-gradient(transparent 150px, rgba(173, 167, 167, 0.928));
    color: white;
    max-height: 30px;
    visibility: visible;
    opacity: .5;
    
  } */
/* 
  .text-muted {
    text-align: right;
  }
   
a:link {
  color: white;
  background-color:transparent;
  text-decoration:none;
}
  .fade {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  } */ 