
body {
  background-color:#e9ecef;
  font-family: 'IBM Plex Sans', sans-serif;
  display:grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;

}
.page-container{
  width: 100%;
  min-height: 100vh;
  background-color: ghostwhite;
  margin-block: 15% 20%;
  writing-mode: horizontal-tb;
  border: 5px solid black;
  display: grid;
  place-items: center;
}
.edit-post, new-post-container {
background:beige;
max-width: 600px;
}
.new-comment-posted{
background:beige;
margin-top: 50px;
max-width: 600px;
}
.buttons {
  display: inline-block;
}
.new-comments {

max-width: 600px;
}
.comments-posted {
  width:200px;
  height:200px;
  background-color: red;
}

ul {
  list-style: none;
}
.card {
  max-width: 600px;
  margin-bottom: 10%;
}
.post-div, card-comment, comment-form{
  
  background-color: azure; 
  border-radius: 25px;
  padding-top:8px;
  margin-top: 20px;
  border: 1px solid silver;
}
.register {
  margin-top: 30%;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px;
  height: fit-content;
  /* display: grid; */
  /* grid-area: 3/3; */
}
.login {
  margin-top: 30%;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px;
  height: fit-content;
  /* display: grid; */
  /* grid-area: 3/3; */
}
.text-body {
  padding-right:8px;
}

.header {
  display: flex;
  align-content: flex-start;
}
 
a:link {
  /* color: white; */
  background-color:transparent;
  text-decoration:none;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-size: small;
  text-align: center;
  color:black;
  padding-right:8px;
  padding-left: 7px;
}


img {
  padding: 5%;
  border-radius: 30px;
  margin-bottom: 10px;
}
/* 
@media (min-width: 640px){
    padding: 20px 24px;
}   */

  /* .card-comment{
    display:block;
    background-color:rgba(221, 58, 58, 0.928);
    color: black;
    max-height: 30px;
    visibility: visible;
    display: grid;
    grid-area: 3/2 / 3 / 4;
    /* opacity: .5; */
    
  
 
  .text-muted {
    font-size: 8px;
    padding-top: 7px;
   
  }
   
.submit-button {
  /* background: none; */
    background-color:#0079d3;
    border: none;
    border-radius: 6px;
    margin-top: 17px;
    margin-bottom: 10px;
    /* box-shadow: none; */
    color: #fff;
    font-size: 18px;
    /* font-weight: 600; */
    height: 36px;
    /* overflow: hidden; */
    padding: 0 32px;
    /* text-shadow: none; */
}

/* 
font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 4px;
    max-height: 1000px;
    opacity: 1;
    color: #ea0027;
    transition: all .2s ease-in-out; */